---
- name: Install supervisor in pip.
  command: >
    {{ xbuild_python_install_dir_prefix }}/bin/pip install supervisor
- name: Create supervisord user.
  user: >
    name="{{ supervisord_user }}"
    shell=/bin/false
    system=yes
    home="{{ supervisord_conf_dir }}"
    createhome=no
  ignore_errors: True
- name: Create supervisord conf directory.
  file: >
    path="{{ supervisord_conf_dir }}/conf.d"
    state=directory
    owner="{{ supervisord_user }}"
    group="{{ supervisord_group }}"
    mode=0755
- name: Create supervisord log directory.
  file: >
    path="{{ supervisord_log_dir }}"
    state=directory
    owner="{{ supervisord_user }}"
    group="{{ supervisord_group }}"
    mode=0755
- name: Create supervisord pid directory.
  file: >
    path="{{ supervisord_pid_dir }}"
    state=directory
    owner="{{ supervisord_user }}"
    group="{{ supervisord_group }}"
    mode=0755
- name: Create supervisord http server socket directory.
  file: >
    path="{{ supervisord_unix_http_server_socket_dir }}"
    state=directory
    owner="{{ supervisord_user }}"
    group="{{ supervisord_group }}"
    mode=0755
- name: Create supervisord config file.
  template: >
    src=supervisord.conf.tpl
    dest="{{ supervisord_conf_dir }}/{{ supervisord_conf_file }}"
    owner="{{ supervisord_user }}"
    group="{{ supervisord_group }}"
    mode=0644
- name: Create supervisord service file.
  template: >
    src=supervisord.tpl
    dest="/etc/rc.d/init.d/supervisord"
    owner=root
    group=root
    mode=0755
- name: Register and Start supervisord service.
  service: >
    name=supervisord
    state=started
    enabled=yes
